
.highlightBlue {
  background: linear-gradient(to right top, #007cf0, #00dfd8);
  color: transparent;
  font-weight: 800;
  -webkit-background-clip: text;
}
.highlight {
  background: linear-gradient(to right top, #7928ca, #ff0080);
  color: transparent;
  font-weight: 800;
  -webkit-background-clip: text;
}